<div class="container">
  <h1 class="page-title">アプリケーションについて</h1>
  <h2>コンセプト</h2>
  <p>このアプリケーションは旅行に行きたいユーザーとドローン操縦士の空撮写真や動画を繋げるアプリケーションです。</p>
  <h2>どうやっているのか</h2>
  <p>スクールの動画教材やrailsチュートリアルを中心に、書籍やwebサイトなども参考にしながら作成しています。<br/>
  今後も随時機能の更新していきます。</p>
  <h2>今後つける機能</h2>
  <ul>
    <li>お問い合わせフォーム</li>
    <li>画像投稿フォーム</li>
    <li>いいね機能</li>
    <li>ユーザーフォロー機能</li>
    <li>地図上でのピンの表示機能</li>
    <li>動画投稿フォーム</li>
  </ul>
</div>
