<div class="jumbotron">
  <div class="main-title">
    <h1>tabidori</h1>
  </div>
  <p>旅行と空撮を繋げよう</p>
  <div class="signup-btn">
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-danger" %>
  </div>
</div>
