<div class="container">
  <h1 class="page-title">全てのユーザー</h1>
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= mail_to user.email %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>