@import "bootstrap-sprockets";
@import "bootstrap";

/* 共通 */

h1{
  text-align: center;
}

.btn{
  margin-bottom: 10px;
}

.page-title{
  padding-top: 100px;
}

/* ホーム画面 */

.jumbotron{
  background-image: url(sea.JPG);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

.main-title{
  margin-top: 180px;
}

.signup-btn{
  padding-top: 50px;
  padding-bottom: 300px;
}

/* ヘッダー */

#logo{
  font-size: 30px;
  float: left;
  text-decoration: none;
  color: black;
  padding-top: 3px;
}

.navbar{
  padding: 0px;
  margin: 0px;
}

/* フォーム */ 

.actions{
  text-align: center;
}

