<header>
  <div class="navbar navbar-fixed-top navbar-default">
    <div class="container">
          <%= link_to "tabidori", root_path, id: "logo" %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "マップ", map_path %></li>
          </ul>
    </div>
  </div>
</header>